* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
p {
  font-weight: 300;
  font-size: 14px;
  line-height: 154.7%;
  color: #000000;
}
/* top purple section */
.top-purple {
  color: white;
  padding: 15px;
  background-color: #772d8b;
  display: flex;
  justify-content: space-between;
}
.top-purple-left{
  display: flex;
  align-items: center;
}
.top-purple-left img {
  margin-right: 15px;
}
.top-purple-right {
  display: flex;
}
.findOutMore{
  color: #fff;
  font-weight: 400;
font-size: 14px;
line-height: 19px;
}
.top-purple-right span {
  color: #ffc42d;
  margin-right: 26px;
}
/* header section */
header {
  height: 900px;
  background-image: url("/assets/background.svg");
  background-size: cover;
}
/* navbar section */
nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: rgba(0, 0, 0, 0.26);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.talkToExpert{
  font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}
.nav-left span {
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  color: #ffc42d;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right a {
  text-decoration: none;
  color: #fff;
}
.nav-links {
  margin-right: 30px;
}
.nav-right button {
  font-size: 14px;
  background: #ee2b7a;
  border-radius: 5px;
  width: 137px;
  height: 34px;
  border: none;
  color: #fff;
}

/* sub-hero section */
.sub-hero {
  padding: 0 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info {
  width: 714px;
}
.header-info span {
  font-weight: 300;
  font-size: 90px;
  line-height: 154.7%;
  color: #ffffff;
}
.header-info p {
  font-weight: lighter;
  font-size: 66px;
  line-height: 154.7%;
  color: #ffffff;
}
form {
  padding: 35px;
}
.header-forms {
  height: 365px;
  width: 340px;
  text-align: center;
  padding: 0 38;
  background: rgba(55, 55, 55, 0.79);
  border-radius: 5px;
}

.header-forms input {
  width: 266px;
  height: 44px;
  background: #ffffff;
  border-radius: 4px;
}
.first-input {
  margin-bottom: 20px;
}
.login {
  text-align: left;
  color: #fff;
  font-weight: 600;
  margin-bottom: 24px;
}
input::placeholder{
  padding-left: 20px;
}
.forgot-pass {
  margin-top: 10px;
  text-align: right;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #b6c4da;
}
.header-forms button {
  width: 267px;
  height: 45px;
  background: #ee2b7a;
  border-radius: 4px;
  border: none;
  color: #fff;
}
.dont-have-account {
  margin-top: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #f8f5f5;
}
.dont-have-account span {
  color: #ee2b7a;
}
.sub-hero {
  margin-top: 92px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 54px;
  margin-top: 48px;
}
h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 154.7%;
  text-transform: uppercase;
  color: #995aaa;
}
h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 154.7%;
  color: #474747;
}
.about p {
  width: 600px;
  font-weight: 300;
  font-size: 14px;
  line-height: 154.7%;
}
.paragraph1 {
  margin-bottom: 18px;
}
.about-right {
  background-image: url("/assets/about-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 447px;
  width: 670px;
}

/* Our Services */
.our-services {
  text-align: center;
}
.service-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.service-card-container div {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 271px;
  height: 377px;
  background: #ffffff;
  box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07);
}
.service-card-container figure {
  margin: 0 auto;
  background-color: #772d8b;
  width: 106px;
  height: 106px;
  padding: 20px;
}
.service-card-container span {
  font-weight: 600;
  font-size: 18px;
  line-height: 154.7%;
  color: #565656;
}
.service-card-container p {
  margin: 0 auto;
  margin-top: -46px;
  width: 244px;
}
/* how it works */
.how-it-works {
  padding-top: 30px;
  height: 600px;
  margin-top: 144px;
  text-align: center;
  color: #fff !important;
  background-image: url("/assets/work-flow.svg");
  background-size: cover;
}
.how-it-works h1,
.how-it-works h2,
.how-it-works p {
  color: #fff;
}

.how-it-works-cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.how-it-works-cardContainer div {
  width: 204px;
  height: 300px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.how-it-works-cardContainer figure {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 5px solid #ee2b7a;
  border-radius: 50px;
  padding: 30px 20px;
  text-align: center;
}
.how-it-works-cardContainer span {
  font-weight: 600;
  font-size: 18px;
  line-height: 154.7%;
}
.how-it-works-cardContainer p {
  margin-top: -30px;
  opacity: 0.7;
}

/* testimonial section */
.testimonial {
  margin-top: 55px;
  text-align: center;
}
.testimonial-cardContainer {
  margin-top: 62px;
  display: flex;
  justify-content: space-around;
}
.testimonial-cardContainer div {
  width: 324px;
  height: 377px;
  background: #ffffff;
  border: 1px solid #f9f9f9;
  box-shadow: 13px 24px 44px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.testimonial-cardContainer img {
  border-radius: 60px;
}
.testimonial-cardContainer p {
  margin-top: -40px;
  margin: 0 auto;
  width: 244px;
}

/* news section */
.news {
  margin-top: 164px;
  text-align: center;
  padding-left: 74px;
  padding-right: 74px;
}
.news-cardContainer {
  display: flex;
  justify-content: space-between;
}
.top-pic {
  background-image: url("/assets/image\ 1.svg");
  background-size: cover;
  height: 382px;
  width: 100%;
}
.news-cardContainer div {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-cardContainer span {
  font-weight: 600;
  font-size: 18px;
  line-height: 154.7%;
  color: #565656;
}
.news-cardContainer p {
  width: 362px;
}
.news-cardContainer button {
  margin: 0 auto;
  background: #ee2b7a;
  border-radius: 5px;
  width: 137px;
  height: 34px;
  border: none;
  color: #fff;
}
.video{
  margin-top: 100px;
  background-image: url("/assets/clouds-daytime-equipment-129544\ 1.png");
  background-size: cover;
  height: 600px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}
.video div{
 height: 300px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.video span{
  font-weight: 600;
font-size: 40px;
line-height: 154.7%;
color: #FFFFFF;
}
.video p{
  color: #FFFFFF;
  font-weight: 700;
}
.video-purple{
width: 100%;
height: 370px;
position: absolute;
top: 4468px;
left:71px;
background: rgba(119, 45, 139, 0.2);
}

/* Our Clients section */
.our-clients{
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}
.our-clients figure{
  background-image: url("/assets/clients-list.svg");
  background-size: cover;
  height: 120px;
  width: 100%;
  margin-top: 20px;
}

/* footer section */
footer{
  margin-top: 150px;
  padding: 50px;
  background: #333333;
}
.footer-top{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-top span{
font-weight: 600;
font-size: 18px;
line-height: 154.7%;
color: #FFFFFF;
}
.footer-top p{
  color: #fff;
  
}
.aboutCompanyInfo{
  width: 273px;
}
.footerInformation p, .contactInfo div,.aboutCompanyInfo{
  margin: 15px 0;
}
.contactInfoContainers{
  display: flex;
}
.contactInfoContainers figure{
  margin-right: 10px;
}

.recentNews div span{
display: block;
font-weight: 400;
font-size: 14px;
}

.recentNews div{
  padding: 20px 0;
  border-bottom: 2px solid #fff;
}

.footer-bottom{
  padding: 12px 0;
  text-align: center;
  background-color: #fff;

}

